.input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label {
    font-size: 16px;
}

.input {
    border: none;
    min-width: 250px;
    height: 28px;
    background-color: var(--page-background-color);
    border-radius: 5px;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-primary-color);
    padding-left: 5px;
    font-size: 16px;
}

.input:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid var(--border-color);
}

.input:hover {
    border-bottom: 3px solid var(--border-color);
}
