.local {
    display: flex;
    gap: 5px;
    text-align: center;
    height: auto;
}

.local p {
    font-size: 1.5rem;
}

.lang-btn {
    background-color: var(--border-color);
    width: 35px;
    height: 20px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: 1px solid white;
}

.lang-btn:hover {
    opacity: 0.7;
}
