.layout-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-content {
    height: 100%;
    overflow: hidden;
}

@media only screen and (min-width: 400px) {
    .content-container {
        flex-direction: row;
        flex: 1;
    }
}
