@import '../../theme.module.css';

.projects-page {
    width: 100%;
    min-height: 100vh;
    padding: 22px 32px;
}

.projects-page h1 {
    text-transform: uppercase;
    margin-bottom: 15px;
    color: var(--light-background-color);
}

.filter-area {
    width: 1088px;
}

.input-container {
    padding: 3px;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 27px;
    width: 320px;
}

.fa-search-icon {
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}

.input-container input {
    border: none;
    background-color: transparent;
    padding: 3px 0px;
    color: white;
    width: 90%;
    outline: transparent;
}

.filter-btns,
.adjusted-search {
    margin-bottom: 22px;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 34px;
}

.filter-btns {
    margin-bottom: 22px;
}

.filter-btn,
.adjust-btn {
    padding: 4px;
    border-radius: 9px;
    min-width: 150px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--light-background-color);
}

.filter-btn {
    border: 2px solid var(--pink-color);
    color: var(--text-primary-color);
    background-color: transparent;
    outline: transparent;
    cursor: pointer;
}

.adjusted-search {
    margin-bottom: 34px;
}

.adjust-btn {
    background-color: var(--pink-color);
    border: 2px solid var(--pink-color);
    cursor: pointer;
}

.project-card-container {
    margin-bottom: 30px;
    width: fit-content;
}
