.mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 40px;
}
.modal_input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal_label {
    color: var(--text-primary-color);
    font-size: 20px;
}

.modal_select {
    max-width: 319px;
    min-width: 319px;
    background: transparent;
    border-color: var(--border-color);
    color: var(--text-primary-color);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.date {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

.time {
    max-width: 319px;
    min-width: 319px;
    background: transparent;
    border-color: var(--border-color);
    color: var(--text-primary-color);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.description {
    min-width: 317px;
    max-width: 317px;
    min-height: 147px;
    max-height: 147px;
    background: transparent;
    border-color: var(--border-color);
    color: var(--text-primary-color);
}

.modal_time_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    gap: 30px;
    align-items: center;
    padding-bottom: 0;
    margin-top: 20px;
}
