.mainHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 30px 11px 30px;
    background-color: var(--dark-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    z-index: 3;
}
.headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84px;
}
.collaboratorLogo {
    font-weight: 700;
    font-size: 32px;
    font-style: italic;
    line-height: 37.5px;
    text-transform: uppercase;
    color: var(--text-primary-color);
    background-color: var(--dark-background-color);
    border: none;
    cursor: pointer;
}
.circleDiv {
    width: 52px;
    height: 52px;
    background-color: var(--text-dark-color);
    border-radius: 25px;
}
.faCaretDown {
    font-size: 28px;
    color: var(--text-primary-color);
}
