.sidebar {
    background-color: var(--dark-background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 50px; /* random */
}

.sidebar-img {
    background-color: var(--text-dark-color);
    width: 148px;
    height: 148px;
    border-radius: 50%;
    margin-bottom: 30px;
    text-align: center;
}

.sidebar-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.fullname {
    color: var(--text-secondary-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 28px;
    text-align: center;
}

.sidebar-fields {
    list-style-type: none;
    color: var(--text-primary-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}

.sidebar-fields li {
    border: 1px solid var(--text-secondary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 17px 3px;
}

.active {
    border-width: 3px;
}

.unavailable {
    color: var(--text-dark-color);
}

.icon-container {
    width: 50px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.icon {
    font-size: 25px;
}

@media only screen and (min-width: 400px) {
    .sidebar {
        width: 240px;
    }
}
