* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg: #27293d;
    --white: #fff;
    --grey: #7e879e;
    --blue: #1d8cf8;
}

.sidebar {
    background-color: var(--main-bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 33px;
}

.sidebar-img {
    background-color: var(--grey);
    width: 148px;
    height: 148px;
    border-radius: 50%;
    margin-bottom: 30px;
    text-align: center;
}

.sidebar-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.fullname {
    color: var(--blue);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 28px;
    text-align: center;
}

.sidebar-fields {
    list-style-type: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}

.sidebar-fields li {
    border: 1px solid var(--blue);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 17px 3px;
}

.sidebar-fields li span {
    flex: 4;
}

.active {
    border-width: 3px;
}

.unavailable {
    color: var(--grey);
    /*  */
}

.icon {
    font-size: 25px;
    flex: 1;
}

@media only screen and (min-width: 400px) {
    .sidebar {
        width: 240px;
        height: 100%;
    }
}
