.modal-container {
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 440px;
    background-color: var(--dark-background-color);
    position: fixed;
    justify-content: space-between;
    color: white;
    z-index: 10;
    padding: 30px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.modal-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.modal-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.modal-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-input {
    border: none;
    width: 250px;
    height: 28px;
    background-color: var(--page-background-color);
    color: white;
    padding-left: 5px;
    font-size: 16px;
    border-bottom: 1px solid var(--border-color);
    border-radius: 5px;
}

.modal-input:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid var(--border-color);
}

.modal-input::hover {
    color: white;
}

.modal-select {
    width: 250px;
    height: 28px;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--page-background-color);
    color: white;
}

.modal-label {
    font-size: 16px;
}

.modal-btn {
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.modal-btn:hover {
    opacity: 0.7;
    border: 2px solid white;
}

.modal-btn-add {
    background-color: var(--success-color);
}

.modal-btn-discard {
    background-color: var(--alarm-color);
}
