.login {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-background-color);
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-primary-color);
    overflow: hidden;
}

.login form {
    margin: auto;
    max-width: 60%;
}

.label-input-wrapper {
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.input {
    border: 1px solid var(--dark-background-color);
    border-bottom: 1px solid var(--border-color);
    width: 320px;
    height: 24px;
    background-color: var(--dark-background-color);
    display: flex;
    color: var(--text-primary-color);
    padding-left: 5px;
}

.input:hover {
    border-bottom: 3px solid var(--border-color);
}

.input:focus {
    outline: none;
    border-bottom: 3px solid var(--border-color);
}

.submit {
    width: 30%;
    background-color: var(--border-color);
    font-size: 16px;
    border-radius: 10px;
    color: var(--text-primary-color);
    cursor: pointer;
}

.submit:hover {
    background-color: var(--blue-hover-color);
}
