.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 500;
}
.modal_container {
    display: flex;
    flex-direction: column;
    min-height: 320px;
    min-width: 440px;
    background-color: var(--dark-background-color);
    position: fixed;
    justify-content: space-between;
    z-index: 700;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    transform: translateY(-50%) translateX(-50%);
    padding: 30px;
    color: var(--text-primary-color);
    gap: 30px;
    outline: 0;
}

.modal_body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.modal_title {
    font-size: 1.675rem;
    font-weight: 700;
    line-height: 1.35;
}
